.playerTile{
    display: flex;
    gap: 4px;
    border: 1px solid gray;
    border-radius: 8px;
    height: 35px;
    width: 95%;

    align-items: center;
    justify-content: space-between;
    padding: 8px;

}

.avatar{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;

    color: white;
    font-weight: bold;
    background-color: red;

    display: flex;
    align-items: center;
    justify-content: center;
}



.status{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(33, 167, 33);
}